<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Yozio.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0E5009B7146A765100F0CD4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E5009C4146A765100F0CD4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E7848A1146A7468004269C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E7848B1146A7468004269C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
